@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');


/* .container{
  position: absolute;
  top: 50%;
  width: 75%;
  height: 550px;
  background: url(images/pexels-anna-shvets-5325104.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 20px;
  
} */